---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-kubetemplater-io-v1alpha1-kubetemplate
  failurePolicy: Fail
  name: vkubetemplate.kb.io
  rules:
  - apiGroups:
    - kubetemplater.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - kubetemplates
  sideEffects: None
