---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - '*'
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - kubetemplater.io
  resources:
  - kubetemplatepolicies
  - kubetemplates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kubetemplater.io
  resources:
  - kubetemplatepolicies/finalizers
  - kubetemplates/finalizers
  verbs:
  - update
- apiGroups:
  - kubetemplater.io
  resources:
  - kubetemplatepolicies/status
  - kubetemplates/status
  verbs:
  - get
  - patch
  - update
