apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kubetemplater-metrics-auth-role
  annotations:
    helm.sh/resource-policy: keep-on-delete
rules:
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
