---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: kubetemplates.kubetemplater.io.my.company.com
spec:
  group: kubetemplater.io.my.company.com
  names:
    kind: KubeTemplate
    listKind: KubeTemplateList
    plural: kubetemplates
    singular: kubetemplate
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: KubeTemplate is the Schema for the kubetemplates API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: KubeTemplateSpec defines the desired state of KubeTemplate.
            properties:
              templates:
                items:
                  description: Template defines a template to be rendered.
                  properties:
                    object:
                      type: object
                      x-kubernetes-preserve-unknown-fields: true
                    replace:
                      type: boolean
                  required:
                  - object
                  type: object
                type: array
            required:
            - templates
            type: object
          status:
            description: KubeTemplateStatus defines the observed state of KubeTemplate.
            properties:
              processedAt:
                format: date-time
                type: string
              processingPhase:
                type: string
              queuedAt:
                format: date-time
                type: string
              retryCount:
                type: integer
              status:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
